<!DOCTYPE html>
<html lang="en" dir="">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dexam</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="../assets/styles/css/themes/lite-purple.min.css">
        <link rel="stylesheet" href="../assets/styles/vendor/perfect-scrollbar.css">
    </head>

    <body class="text-left">
        <!-- Pre Loader Strat  -->
        <div class="loadscreen" id="preloader">

            <div class="loader spinner-bubble spinner-bubble-primary">



            </div>
        </div>
        <!-- Pre Loader end  -->


        <div class="app-landing-wrap landing_wrap landing-gradient-blue-red">






            <!-- start Header -->
            <div class="main-header header-fixed-default" id="home-header">
                <nav class="navbar container w-100 navbar-expand-lg navbar-transparent bg-transparent">


                    <div class="logo">
                        <img src="./../assets/images/logo_white.png" alt="">
                    </div>

                    <div class="menu-toggle navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex align-items-center">
                            <!-- Mega menu -->
                            <div class="dropdown mega-menu d-none d-md-block">
                                <a href="#" class="btn dropdown-toggle mr-3" id="dropdownMegaMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega Menu</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="row m-0">
                                        <div class="col-md-4 p-4 bg-img">
                                            <h2 class="title">Mega Menu <br> Sidebar</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
                                                natus laboriosam fugit, consequatur.
                                            </p>
                                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Exercitationem odio amet eos dolore suscipit placeat.</p>
                                            <button class="btn btn-lg btn-rounded btn-outline-warning">Learn
                                                More</button>
                                        </div>
                                        <div class="col-md-4 p-4">
                                            <p class="text-primary text--cap border-bottom-primary d-inline-block">
                                                Features</p>
                                            <div class="menu-icon-grid w-auto p-0">
                                                <a href="#"><i class="i-Shop-4"></i> Home</a>
                                                <a href="#"><i class="i-Library"></i> UI Kits</a>
                                                <a href="#"><i class="i-Drop"></i> Apps</a>
                                                <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
                                                <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                                                <a href="#"><i class="i-Ambulance"></i> Support</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-4">
                                            <p class="text-primary text--cap border-bottom-primary d-inline-block">
                                                Components</p>
                                            <ul class="links">
                                                <li><a href="accordion.html">Accordion</a></li>
                                                <li><a href="alerts.html">Alerts</a></li>
                                                <li><a href="buttons.html">Buttons</a></li>
                                                <li><a href="badges.html">Badges</a></li>
                                                <li><a href="carousel.html">Carousels</a></li>
                                                <li><a href="lists.html">Lists</a></li>
                                                <li><a href="popover.html">Popover</a></li>
                                                <li><a href="tables.html">Tables</a></li>
                                                <li><a href="datatables.html">Datatables</a></li>
                                                <li><a href="modals.html">Modals</a></li>
                                                <li><a href="nouislider.html">Sliders</a></li>
                                                <li><a href="tabs.html">Tabs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Mega menu -->

                        </div>

                        <div style="margin: auto"></div>

                        <div class="header-part-right">

                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link m-2" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <!-- drop down menu start -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link m-2 m-2">Pages</a>
                                    <!-- First  Drop Down -->
                                    <ul>
                                        <li class="nav-item">
                                            <a href="#" class="menu-item">Team</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="menu-item">Testimonial</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="menu-item">Extra features</a>
                                        </li>
                                        <li><a>Second Level</a>
                                            <!-- Second  Drop Down -->
                                            <ul>
                                                <li class="nav-item">
                                                    <a href="#" class="menu-item">Blog</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="menu-item">Faqs</a>
                                                </li>
                                                <li><a>Third Level</a>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- drop down menu end -->
                                <li class="nav-item">
                                    <a class="nav-link m-2" href="#">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-2" href="#">Features</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link m-2" href="#">Testimonial</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link m-2" href="#">Contact Us</a>
                                </li>
                            </ul>



                        </div>
                    </div>
                </nav>

            </div>

            <!--=============== Header End ================-->








            <!-- ============ Main content start ============= -->
            <div class="main-content-wrap">

                <!-- intro-section -->

                <section id="intro-wrap" class="intro-components-Wrap text-center text-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 intro1LeftSection pb-5 section-header">
                                <h1 class="font-weight-bold text-white text-42 mb-3 t-shadow">Typography Example
                                    Components
                                </h1>
                                <p class="text-20 mb-4 m-auto">Meet Dexam Highly customizable Pure VueJs + and HTML
                                    Bootstrap 4 Landing template. </p>



                            </div>

                        </div>
                    </div>
                    <div class="overlay">

                    </div>

                </section>
                <!-- end::intro-section -->

                <!-- typography section start -->
                <section class="ul-typography_section p-t-b-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- left-content -->
                                    <div class="col-md-6">
                                        <!-- begin::headings -->
                                        <div class="card mt-4 mt-4">
                                            <div class="card-header bg-transparent">
                                                <h3 class="card-title">Headings</h3>
                                            </div>
                                            <div class="card-body">

                                                <div class="card-title">
                                                    <span class="section-info">
                                                        All HTML headings, <code>&lt;h1&gt;</code> through
                                                        <code>&lt;h6&gt;</code>, are
                                                        available.
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-6">
                                                            <h1 class="heading">h1. Heading 1</h1>
                                                            <div class="br"></div>
                                                            <h2 class="heading">h2. Heading 2</h2>
                                                            <div class="br"></div>
                                                            <h3 class="heading">h3. Heading 3</h3>
                                                            <div class="br"></div>
                                                            <h3 class="heading">h3. Heading 3</h3>
                                                            <div class="br"></div>
                                                            <h4 class="heading">h4. Heading 4</h4>
                                                            <div class="br"></div>
                                                            <h5 class="heading">h5. Heading 5</h5>
                                                            <div class="br"></div>
                                                            <h6 class="heading">h6. Heading 6</h6>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h1 class="heading text-primary">h1. Heading 1</h1>
                                                            <div class="card-title"></div>
                                                            <h2 class="heading text-secondary">h2. Heading 2</h2>
                                                            <div class="br"></div>
                                                            <h3 class="heading text-success">h3. Heading 3</h3>
                                                            <div class="br"></div>
                                                            <h3 class="heading text-danger">h3. Heading 3</h3>
                                                            <div class="br"></div>
                                                            <h4 class="heading text-warning">h4. Heading 4</h4>
                                                            <div class="br"></div>
                                                            <h5 class="heading text-info">h5. Heading 5</h5>
                                                            <div class="br"></div>
                                                            <h6 class="heading text-info">h6. Heading 6</h6>
                                                        </div>
                                                    </div>

                                                    <div class="br"></div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="section-info">
                                                                Use the included utility classes to recreate the small
                                                                secondary heading text.
                                                            </span>

                                                            <div class="br"></div>
                                                            <h3 class="heading">Fancy display heading
                                                                <small class="text-mute">With faded secondary
                                                                    text</small>
                                                            </h3>

                                                            <span class="section-info">
                                                                Larger, slightly more opinionated heading styles.
                                                            </span>


                                                            <div class="display-content">
                                                                <h3 class="heading display-1">Display 1</h3>
                                                                <h3 class="heading display-2">Display 2</h3>
                                                                <h3 class="heading display-3">Display 3</h3>
                                                            </div>

                                                            <div class="br"></div>

                                                            <span class="section-info">
                                                                Make a paragraph stand out by adding <code>.lead</code>
                                                            </span>


                                                            <div class="content-section">
                                                                <p class="lead text-mute">
                                                                    Vivamus sagittis lacus vel augue laoreet rutrum
                                                                    faucibus dolor auctor. Duis mollis, est non commodo
                                                                    luctus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end::headings -->

                                        <!-- begin:general -->
                                        <div class="card mt-4 mt-4">
                                            <div class="card-header bg-transparent">
                                                <h3 class="card-title">General</h3>
                                            </div>
                                            <div class="card-body">

                                                <div class="card-title">
                                                    <span class="section-info">
                                                        Styling for common inline HTML5 elements:
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-12">
                                                            <p>You can use the mark tag to <mark>highlight</mark> text.
                                                            </p>
                                                            <div class="br"></div>
                                                            <p><del>This line of text is meant to be treated as deleted
                                                                    text.</del></p>
                                                            <div class="br"></div>
                                                            <p><s>This line of text is meant to be treated as no longer
                                                                    accurate.</s></p>
                                                            <div class="br"></div>
                                                            <p><ins>This line of text is meant to be treated as an
                                                                    addition to the
                                                                    document.</ins></p>
                                                            <div class="br"></div>
                                                            <p><u>This line of text will render as underlined</u></p>
                                                            <div class="br"></div>
                                                            <p><small>This line of text is meant to be treated as fine
                                                                    print.</small></p>
                                                            <div class="br"></div>
                                                            <p><strong>This line rendered as bold text.</strong></p>
                                                            <div class="br"></div>
                                                            <p><em>This line rendered as italicized text.</em></p>
                                                        </div>

                                                    </div>

                                                    <span class="section-info">
                                                        Stylized abbreviations implementation of HTML’s
                                                        <code>&lt;abbr&gt;</code> element:
                                                    </span>

                                                    <div class="section-content">
                                                        <p><abbr title="attribute">attr</abbr></p>
                                                        <p><abbr title="HyperText Markup Language">HTML</abbr></p>
                                                    </div>

                                                    <div class="br"></div>


                                                    <span class="section-info mb-4">
                                                        Quoting blocks of content:
                                                    </span>

                                                    <div class="br"></div>

                                                    <blockquote class="blockquote">
                                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Integer posuere erat a ante.</p>
                                                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                                                Title</cite></footer>
                                                    </blockquote>


                                                    <blockquote class="blockquote">
                                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Integer posuere erat a ante.</p>
                                                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                                                Title</cite></footer>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end:general -->
                                    </div>

                                    <!-- end::left-content -->

                                    <!-- right-content -->
                                    <div class="col-md-6">
                                        <!-- begin::Text -->
                                        <div class="card mt-4 mt-4">
                                            <div class="card-header bg-transparent">
                                                <h3 class="card-title">Text</h3>
                                            </div>
                                            <div class="card-body">

                                                <div class="card-title">
                                                    <span class="section-info">
                                                        Basic Text Examples:
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-12">
                                                            <p><span>Example Text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="t-font-bold">Example Bold Text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="t-font-bolder">Example Bolder Text</span>
                                                            </p>
                                                            <div class="br"></div>
                                                            <p><span class="t-font-boldest">Example Boldest Text</span>
                                                            </p>
                                                            <div class="br"></div>
                                                            <p><span class="t-font-u">Example Uppercase Text</span></p>
                                                        </div>

                                                    </div>


                                                    <span class="section-info">
                                                        State colors:
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-12">

                                                            <p><span class="text-success">Success state text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="text-warning">Warning state text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="text-info">Info state text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="text-danger">Danger state text</span></p>
                                                            <div class="br"></div>
                                                            <p><span class="text-primary">Primary state text</span></p>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end::text -->

                                        <!-- begin::links -->
                                        <div class="card mt-4 mt-4">
                                            <div class="card-header bg-transparent">
                                                <h3 class="card-title">Link</h3>
                                            </div>
                                            <div class="card-body">

                                                <div class="card-title">
                                                    <span class="section-info">
                                                        Basic link Examples:
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-12">
                                                            <p><a href="" class="typo_link text-primary">Example
                                                                    Text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-primary t-font-bold">Example
                                                                    Bold Text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-primary t-font-bolder">Example
                                                                    Bolder Text</a>
                                                            </p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-primary t-font-boldest">Example
                                                                    Boldest
                                                                    Text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-primary t-font-u">Example
                                                                    Uppercase Text</a>
                                                            </p>
                                                        </div>

                                                    </div>


                                                    <span class="section-info">
                                                        State colors:
                                                    </span>

                                                    <div class="row mt-4 mb-4">
                                                        <div class="col-md-12">
                                                            <p><a href="" class="typo_link text-success">Success state
                                                                    text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-warning">Warning state
                                                                    text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-info">Info state
                                                                    text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-danger">Danger state
                                                                    text</a></p>
                                                            <div class="br"></div>
                                                            <p><a href="" class="typo_link text-primary">Primary state
                                                                    text</a></p>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end::links -->

                                        <!-- divider -->
                                        <div class="card mt-4 mt-4">
                                            <div class="card-header bg-transparent">
                                                <h3 class="card-title">Divider</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="divider">
                                                    <span></span>
                                                    <span>or</span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end::divider -->
                                    </div>
                                    <!-- end::right-content -->


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of typography section -->



                <!-- Footer Start -->
                <div class="flex-grow-1"></div>

            </div>
            <!-- ============ Main content End ============= -->




        </div>
        <!--=============== End app-Landing-wrap ================-->


        <script src="../assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/vendor/perfect-scrollbar.min.js"></script>
        <script src="../assets/js/es5/scroll.min.js"></script>
        <script src="../assets/js/es5/script.min.js"></script>
    </body>

</html>
